/* Extra small devices (phones, 600px and down) */


@media only screen and (max-width: 600px)
{
    /* Navigation */

    :root
    {
        --icon-fnt-size: 16px;
    }

    .icon
    {
        width: 25px;
        height: 25px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .youtube-logo
    {
        font-size: 25px;
    }

    .logo
    {
        margin: 0px 2px;
    }

    .middle .search-box
    {
        height: 25px;
        border-radius: 25px;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}